/* Tablet Landscape */
@media screen and (max-width: 1200px) {
  .aboutMain {
    left: 50%;
    margin-left: -33vw;
    margin-top: 0rem;
    width: 33vw;
    height: 100%;
  }
}

/* Tablet Portrait 888 */
@media screen and (max-width: 888px) {
  .aboutMain_btnRow {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Mobile Phones */
@media screen and (max-width: 750px) {
  .aboutMain {
    position: static;
    height: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-left: 0rem;
    margin-top: 0rem;
    left: 13rem;
  }
}