.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 82vh;
}

.nav > div:first-child {
  display: flex;
  flex-direction: column;
}

/* Icon row */
.nav > div:last-child {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: #121212;
}

.nav > div:first-child h5 {
  margin-bottom: 0.4rem;
  color: #121212;
  font-weight: 600;
}

.label {
  position: fixed;
  z-index: -1;
  transform: rotate(90deg);
  font-size: 2.7rem;
  color: #eaeaea;
}

#workLabel {
  right: -4.3rem;
  top: 2.6rem;
}

#aboutLabel {
  right: -5.2rem;
  top: 3.4rem;
}

#contactLabel {
  right: -7.1rem;
  top: 5.3rem;
}

#selectedView { 
  color: #003cf9;
}

.fa-linkedin {
  margin-right: 1rem;
}

.contact a p:hover,
#logo:hover,
.fa-envelope:hover,
.fa-linkedin:hover,
.navLink:hover {
  -webkit-animation: shadow-drop-2-bottom 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-bottom 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(20px) translateY(-3px);
    transform: translateZ(20px) translateY(-3px);
    color: #003cf9;
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(20px) translateY(-3px);
    transform: translateZ(20px) translateY(-3px);
    color: #003cf9;
  }
}
