/* Verde: #03ca9f */
/* Amarilllo: #ffc448 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  background: #121212;
}

#root {
  width: 100vw;
  height: 100vh;
}

#root > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  border: '1px solid green'
}

@media screen and (max-width: 480px) {
  #root > div:first-child {
    padding: 0;
  }
}