* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

#root > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  padding: 3rem;
}

#logo {
  position: fixed;
  top: 2.3rem;
  left: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}